<main class="main">
  <app-header></app-header>
  <div style="display: flex; justify-content: center; align-items: center; gap:40px; margin-top: 40px;">
    <h1> RELATÓRIO DOS TREINOS</h1>
    <div style="text-align: left; line-height: 1.2;"> </div>
  </div>
  <div class="container mt-4">
    <main class="row g-3s align-items-end"> <!-- Tipo de Serviço -->

      <div class="container mt-4">
        <div class="row justify-content-center align-items-end g-3">

          <!-- Período -->
          <div class="col-md-4">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Selecione o Período</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Data inicial" [(ngModel)]="periodo.start" name="inicio" />
                <input matEndDate placeholder="Data final" [(ngModel)]="periodo.end" name="fim" />
              </mat-date-range-input>

              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>

          <!-- Botão Buscar -->
          <div class="col-md-2 d-flex justify-content-center mb-4">
            <button class="btn-contabilizar w-100" (click)="BuscarRelatorio()">
              Buscar
            </button>
          </div>

        </div>
      </div>


      <img *ngIf="this.clicouEmBuscar === 0" src="mascotePaginaRelatorio.png" class="mascote"
        alt="Mascote raposa feliz com halteres">

      <div class="container-cards" *ngIf="this.clicouEmBuscar > 0">
        <mat-card class="card">
          <p>Dias Treinados</p>
          <p>{{this.teste}} Dias</p>
        </mat-card>

        <mat-card class="card">
          <p>Calorias Gastas </p>
          <p>{{this.teste}} Kcal</p>
        </mat-card>

      </div>



      <div class="mt-5" *ngIf="this.clicouEmBuscar >= 1 ">
        <table class="table table-striped mt-2">
          <thead>
            <tr>
              <th>Data</th>
              <th>Dia da Semana</th>
              <th>Quantidade de Kcal Gastas</th>
              <th>Treino</th>
            </tr>
          </thead>
          <tbody id="corpo-tabela">
            <tr *ngFor="let linha of this.listaDeTreinos">
              <td>{{linha.Data}}</td>
              <td>{{linha.DiaDaSemana}}</td>
              <td>{{linha.KcalGastas}}</td>
              <td>{{linha.Treino}}</td>
          </tbody>
        </table>
      </div>

    </main>
