.example-card {
  max-width: 368px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.example-card {
  width: 100%;
}
.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.example-card {
  border: 1px solid #777472; /* preto */
}
